/*Automaton*/

.container  {
 padding-top: 5%;
 width: 87%;
 padding-left: 5%;
}


.textbox {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#optionsN 
li:hover {
color: blue;

}
#optionsA 
li:hover {
color: blue;

}
#optionsN li {
font-weight: bold;
font-family: arial;
font-size: 3vw;
color:steelblue;
cursor: default;
/*display: inline-block;*/
padding: 5%;
}
#optionsA li {
font-weight: bold;
font-family: arial;
font-size: 3vw;
color:steelblue;
/*display: inline-block;*/
padding: 5%;
}
#options ul{
display: inline-block;
list-style-type: none;

}
body{
font-weight: bold;
font-family: arial;
font-size: 3vw;
    background: #181818;
    color: #ddd;
    
    margin: 0 auto;
    padding: 0;

}
 /*ul {
    margin-left: 20px;
    color: blue;
  }
  li {
    cursor: default;
    display: inline-block;
  }*/
span {
    color: black;
   
  }
#urn_opening {
font-weight: bold;
font-family: arial;
font-size: 3vw;
color:pink;
line-height: 2em;
display: inline-block;

}
#lose_message{
  font-weight: bold;
font-family: arial;
font-size: 3vw;
color:coral;
}

#play_again{
  color:white;
  line-height: 2.5em;
}
#play_again:hover{
  color:antiquewhite;
}

#question_synopsis{
font-weight: bold;
font-family: arial;
font-size: 3vw;
color:darkgoldenrod;
}
html { 
/*  background: url(../blackimg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
   
   h1 {
          color: goldenrod;
          text-align: center;
          font-weight: bold;
          font-family: arial;
          font-size: 4vw;
        
      }

p {

    color: grey;


        
      }

form {
  display: inline-block;
    color: white;

    
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}
/*from keyboard demo css*/
#console { width: 90%; list-style-type: none; margin: 0 auto; padding: 0; }
#console li { text-align: center; }
#console .keyboard { color: #ec7600; }
#console .event { color: #facd22; }
#console .accepted { color: #8AC763; }
#console .ignored { color: #f00; }
#console .content { color: RoyalBlue; }
/*end of FROM KEYBOARD DEMO CSS*/
#submitForm {
display: flex;
  align-items: center;
  justify-content: center;
}

input{
  height:50px; font-size: 35px;
}
#responseMessage {
font-size: 3vw;
color: #00FDFF;
font-family: arial;
margin-bottom:4%;
text-align: center;

}
#questionsFrame{
font-size: 4vw;
color: #00FDFF;
font-family: arial;
margin-bottom:4%;
text-align: center;
}
a {
    color: orange;
}
/* mouse over link */
a:hover {
    color: hotpink;
}
/* selected link */
a:active {
    color: ;
}


input{
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

button {

  display: inline-block;
  border-radius: 4px;
  background-color: grey;
  border: none;
  color: black;
  text-align: center;
  font-size: 20vw;
  padding: 20px;
  width: 10%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    outline: none;
    border: solid 3px;


}

button:hover {
    color: #C56622;
}

h2:hover {
    color: orange;
}