/*Automaton*/

.container  {
 padding-top: 25%;
 width: 87%;
 padding-left: 5%;


}
body{

 font-weight: bold;
font-family: arial;
font-size: 3vw;

}

#lose_message{
  font-weight: bold;
font-family: arial;
font-size: 3vw;
color:coral;
}
#optionsA {
font-weight: bold;
font-family: arial;
font-size: 3vw;
color:steelblue;
display: inline-block;
}
#optionsN {
font-weight: bold;
font-family: arial;
font-size: 3vw;
color:steelblue;
display: inline-block;
padding:5%;
}
#question_synopsis{
font-weight: bold;
font-family: arial;
font-size: 3vw;
color:darkgoldenrod;
}
html { 
  background: url(../blackimg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
   
   h1 {
          color: goldenrod;
          text-align: left;
          font-weight: bold;
          font-family: arial;
          font-size: 4vw;
        
      }
p {

    color: white;
         
        
      }

form {
  display: inline-block;
    color: white;
    
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}

input{
  height:50px; font-size: 35px;
}
#responseMessage {
font-size: 4vw;
color: #00FDFF;
font-family: arial;
margin-bottom:4%;
text-align: center;

}
#questionsFrame{
font-size: 4vw;
color: #00FDFF;
font-family: arial;
margin-bottom:4%;
text-align: center;
}
a {
    color: red;
}
/* mouse over link */
a:hover {
    color: hotpink;
}
/* selected link */
a:active {
    color: ;
}
button {
  display: inline-block;
  border-radius: 4px;
  background-color: #C56622;
  border: none;
  color: black;
  text-align: center;
  font-size: 3vw;
  padding: 10px;
  width: 10%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
}

input{
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

button {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-color: transparent;
    outline: none;
    border: solid 1px;
    color: white;
}

button:hover {
    color: #C56622;
}



